</div>
	<script src="__PUBLIC__/bootstrap/js/bootstrap.js"></script>
    <script src="__PUBLIC__/plugins/jquery.slimscroll.min.js"></script>
    <script src="__PUBLIC__/plugins/jquery.easing.min.js"></script>
    <script src="__PUBLIC__/plugins/appear/jquery.appear.js"></script>
    <script src="__PUBLIC__/plugins/jquery.placeholder.js"></script>
    <script src="__PUBLIC__/plugins/fastclick.js"></script>
	<script src="__PUBLIC__/plugins/table-sortable/sortable.min.js"></script>
	<script src="__PUBLIC__/plugins/chosen/chosen.jquery.min.js"></script>
    <script src="__PUBLIC__/plugins/bootstrap-tagsinput/bootstrap-tagsinput.min.js"></script>
     <script src="__PUBLIC__/plugins/fuelux/pillbox.js"></script>
    <script src="__PUBLIC__/plugins/fuelux/spinner.js"></script>
    <script src="__PUBLIC__/plugins/wysiwyg/jquery.hotkeys.js"></script>
	<script src="__PUBLIC__/plugins/switchery/switchery.js"></script>
    <script src="__PUBLIC__/plugins/icheck/icheck.js"></script>
    <script src="__PUBLIC__/js/offscreen.js"></script>
    <script src="__PUBLIC__/js/main.js"></script>
	<script src="__PUBLIC__/js/form-custom.js"></script>

</body>
<!-- /body -->

</html>
