<include file="./Application/Home/View/Public/header.html" />
	<section class="layout">
            <include file="./Application/Home/View/Public/left.html" />

            <!-- main content -->
            <section class="main-content">

                <!-- content wrapper -->
                <div class="content-wrap">

                    <!-- inner content wrapper -->
                    <div class="wrapper">
                        
					<include file="./Application/Home/View/Public/nav.html" />
                        
                        <div class="row">
                            <div class="col-md-12">
                                <section class="panel">
                                    <div class="panel-heading no-b">
                                        <h5 style="margin-bottom:5px;">{$mcc.name}</h5>
                                        <span>{$mcc.customerid}</span>
                                    </div>
                                    <div class="panel-body">
                                        <table class="table table-bordered table-striped no-m">
                                            <thead>
                                                <tr>
                                                   <!-- <th>#</th>-->
                                                    <th>账户</th>
                                                    <th style="text-align:center">状态</th>
                                                     <th style="text-align:center">日预算</th>
                                                    <th style="text-align:center">点击次数</th>
                                                    <th style="text-align:center">展示次数</th>
                                                    <th style="text-align:center">CTR</th>
                                                    <th style="text-align:center">CPC</th>
                                                    <th style="text-align:center">CPA</th>
                                                    <th style="text-align:center">转化次数</th>
                                                   <!-- <th style="text-align:center">点击转化率</th>-->
                                                   <th style="text-align:center">日消耗</th>
                                                    <th style="text-align:center">剩余账户预算</th>
                                                     <th style="text-align:center">可用天数</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            
                                            <!-- Button trigger modal -->
<!--<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Launch demo modal
</button>-->
                                            
                                            


                                                
                                                <volist name="list" id="vo">
                                                	<tr>
                                                  
                                                    <td>
                                                    	<ul>
                                                        	<li style=" font-weight:; margin-bottom:5px;">
                                                            	<a href="/?mcc={$vo.customerid}" style="color:#00aeff; font-size:14px;">{$vo.name}</a> 
                                                            
                                                            </li>
                                                         <li style=" font-weight:; margin-bottom:px; font-size:12px;">
                                                         <span style="color:#666;">[管理员]</span> <span style="color:#999;">{$vo.customerid}</span> 
                                                         
                                                         </li>
                                                            
                                                    	</ul>
                                                    </td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                     <td></td>
                                                      <td></td>
                                                       <td></td>
                                                      <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                               	</tr>
                                                
                                                </volist>
                                            </tbody>
                                        </table>
                                    </div>
                                </section>
                            </div>
                            
                        </div>
                        
                    </div>
                    <!-- /inner content wrapper -->

                </div>
                <!-- /content wrapper -->
                <a class="exit-offscreen"></a>
            </section>
            <!-- /main content -->
        </section>

<include file="./Application/Home/View/Public/footer.html" />
