<include file="./Application/Home/View/Public/header.html" />
	<section class="layout">
            <include file="./Application/Home/View/Public/left.html" />

            <!-- main content -->
            <section class="main-content">

                <!-- content wrapper -->
                <div class="content-wrap">

                    <!-- inner content wrapper -->
                    <div class="wrapper">
                        
					<include file="./Application/Home/View/Public/nav.html" />
                        
                        <div class="row">
                            <div class="col-md-12">
                                <section class="panel">
                                    <table border="0" width="100%" cellpadding="0"  cellspacing="0" style="border-collapse:collapse;">
                                    <tr>
                                    <td width="15%">
                                    <div class="panel-heading no-b" style="padding:10px 21px; float:;">
                                        <h5 style="margin-bottom:5px;">{$gmcc.nickname}</h5>
                                        <span>{$gmcc.id}</span>
                                    </div>
                                    
                                    </td>
                                    <td>
                                    <div class="panel-heading no-b" style="padding:10px 21px; float:;">
                                       <table id="tb" class="table table-bordered table-striped no-m" width="100%"  >
                                       		<thead>
                                                <tr>
                                                	<th style="text-align:center" id="kerr">广告语（低分）总量</th>
                                                   	<th style="text-align:center" id="kaerr">广告语（全部）总量</th>
                                                    <th style="text-align:center" id="per">低分总量 / 全部总量</th>
                                                </tr>
                                                
                                                
                                      		</thead>
                                            <tbody align="center" id="tbd1" style="display:none">
                                             	<tr height="35">
                                                    <td id="c1"></td>
                                                    <td id="c2"></td>
                                                    <td id="c3"></td>
                                                
                                                </tr>
                                            </tbody>
                                       </table>
                                    </div>
                                    
                                     </td>
                                    
                                    <td  width="25%" align="right">
                                    <div class="panel-heading no-b" style="float:; margin-top:15px;">
                                        <select id="accountSel" onChange="ads.selects('/Home/AdGroup/adCtrErr?mcc='+this.value+'&date='+$('#date').val())">
                                        	<option value="000-000-0000">选择查看</option>
                                          <!--  {$accountTree}-->
											<volist name="accountTrees" id="vo">
                                            	<if condition="$vo.id eq $gmcc['id']">
                                        			<option selected value="{$vo.id}">{$vo.name}</option>
                                                <else />
                                                	<option  value="{$vo.id}">{$vo.name}</option>
                                                </if>
                                            </volist>
                                        
                                        </select>
                                    </div>
                                    </td>
                                    </tr>
                                    </table>
                                    
                                    <div class="panel-body">
                                   		<table class="table table-bordered table-striped no-m">
                                            <thead>
                                                <tr>
                                                	<th style="text-align:center">编号</th>
                                                   	<th>普通账户</th>
                                                    <th style="text-align:center">ID</th>
                                                    <th >广告系列</th>
                                                    <th style="text-align:">广告组</th>
                                                    <th style="text-align:">广告语</th>
                                                    <th style="text-align:center">展示次数（>1000）</th>
                                                    <th style="text-align:center">CTR</th>
                                                </tr>
                                            </thead>
                                            <tbody id="tbd"></tbody>
                                        </table>
                                    </div>
                                </section>
                            </div>
                            
                        </div>
                        
                    </div>
                    <!-- /inner content wrapper -->

                </div>
                <!-- /content wrapper -->
                <a class="exit-offscreen"></a>
            </section>
            <!-- /main content -->
        </section>
        
<script type="text/javascript">
	ads.children = {$children};
	//ads.getCtrBudgetAlarm(ads.children);
	ads.adCtrErr(ads.children);
	
</script>

<include file="./Application/Home/View/Public/footer.html" />
